<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ output extension=".generated.cs" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ Assembly Name="EnvDTE" #>

using System;
using Microsoft.VisualStudio.TestTools.UnitTesting;

namespace UnitTestDriver
{
<#
	// Define the list of libraries to test
	String [] libraries = new String [] 
	{
		"ftl",
	};

	// Loop on the Libraries
	foreach(String library in libraries)
	{
#>

		[TestClass]
		public class <#= library #> : Unit
		{
<#
			// Get the solution path
			EnvDTE.DTE dte = (EnvDTE.DTE)System.Runtime.InteropServices.Marshal.GetActiveObject("VisualStudio.DTE");
			String solution_path = Path.GetDirectoryName(dte.Solution.FullName);

			// Get the test path
			String test_path = Path.Combine(solution_path, "src", "utest");

			// List the test directories
			String [] test_cases = Directory.GetDirectories(test_path, "unit_*", SearchOption.TopDirectoryOnly);

			// Loop on the test cases
			foreach(String test in test_cases)
			{
				String test_name = Path.GetFileName(test);
#>
				[TestMethod]
				public void <#= test_name #>()
				{
					// Initialise the test run
					Initialise("<#= test_name #>");

					// Execute the fortran test if required
					if(OutOfDate) RunFortranTest();

					// Assert the test completion
					Assert.AreEqual(ProcessJxmlFile( "xxbase___<#= test_name.Substring(5) #>_ftl" ), 0);
				}
<#
			}
#>
		}
<#
	}
#>
}
